{{yield}}
<div class="container">
  <div class='attach'>
    {{#if error}}
    <div class="alert alert-danger">
      <a><i><span class="glyphicon glyphicon-remove"{{action 'removeError'}}></span></i></a>
      {{error}}
    </div>
    {{/if}}

    {{#if files}}
    {{#each files as |file|}}
    <div class='item'>
      <a><i><span class="glyphicon glyphicon-remove"{{action 'removeFile' file}}></span></i></a>
      {{file.name}} ( {{file.fileSize}} )
    </div>
    {{/each}}
    {{/if}}
  </div>
  <div class="upload-container">
    {{file-upload
    url=url
    multiple=multiple
    upload=upload
    accepts=accepts
    onFileUploadAdd='onFileUploadAdd'
    onFileUploadChange=onFileUploadChange
    onFileUploadSuccess=onFileUploadSuccess
    onFail=onFail
    error= 'error'
    allowSize=allowSize
    tabindex='-1'}}
    <input type="button" class="btn btn-default attach-button" value="+ Attach a File">
  </div>
</div>

