{{yield}}
<div class="container">
  <div class='attach'>
    {{#each files as |file|}}
    <div class='item'>
      <a><i><span class="glyphicon glyphicon-remove"{{action 'removeFile' file}}></span></i></a>
      {{file.name}} ( {{file.fileSize}} )
    </div>
    {{/each}}

  </div>
  <div class="upload-container">
    {{file-upload
    url=url
    multiple=multiple
    upload=upload
    accepts=accepts
    onFileUploadAdd='onFileUploadAdd'
    onFileUploadChange=onFileUploadChange
    onFileUploadSuccess=onFileUploadSuccess
    onFail='onFail'
    error='error'
    progressBar='progressBar'
    allowSize=allowSize
    acceptFileTypes=acceptFileTypes
    tabindex='-1'}}
    <a href='javascript:;'>
    <span>+ Attach a File</span>
    </a>
    {{#if uploading}}
    <span class="success">  Uploading..({{progress}}%)</span>
    {{/if}}
    {{#if uploadComplete}}
    <span class="success">  Success <i class='glyphicon glyphicon-ok-circle'></i></span>
    {{/if}}
    {{#if uploadFailed}}
    <span class="failed"> Upload Failed <i class='glyphicon glyphicon-exclamation-sign'></i></span>
    {{/if}}
    {{#if error}}
    <span class="failed">
       {{error}}
      <i class="glyphicon glyphicon-remove-circle"{{action 'removeError'}}></i>

    </span>
    {{/if}}
  </div>
</div>

