<div class="app_dependency_dropdown">
	<div class="caption_category dependent_component_label">{{label_category}}</div>
	<div class="depedent_component_wrapper">
		{{select-2
		    content=dependencyList
		    placeholder=primaryPlaceholder
		    value=value1Data
		    allowClear=true
		    locked=true
		    searchEnabled=searchOption
		    dd_reference='category'
		    didSelect= 'dd_onTrigger'
		}}
	</div>
</div>
<div class="app_dependent_dropdown_subcategories">
	{{#if subCategory_Show_Hide}}
		<div class="app_dependency_dropdown app_dependency_dropdown_sub">
			<div class="caption_subcategory dependent_component_label">{{label_subcategory}}</div>
			<div class="depedent_component_wrapper">
				{{select-2
				    content=subDropDown_DataBinding	    
				    value=value2Data
				    placeholder=subDropDownPlaceHolder
				    allowClear=true
				    locked=true
				    searchEnabled=searchOption
				    dd_reference='subcategory'
				    didSelect= 'dd_onTrigger'
				}}
			</div>
		</div>
	{{/if}}
	{{#if itemCategory_Show_Hide}}
		<div class="app_dependency_dropdown app_dependency_dropdown_sub">
			<div class="caption_item dependent_component_label">{{label_item}}</div>
			<div class="depedent_component_wrapper">
				{{select-2
				    content=itemDropDown_DataBinding
				    value=value3Data
				    placeholder=itemDropDownPlaceHolder
				    allowClear=true
				    locked=true
				    searchEnabled=searchOption
				    dd_reference='item'
				    didSelect= 'dd_onTrigger'
				}}
			</div>
		</div>
	{{/if}}
</div>