  {{yield}}
  {{log error}}
  <div class="avatar-container">
  <a href="javascript:;" class="option uplink">
  <span class="input-container">
  {{#if imageIsThere}}
  <span class="avatar-text">Change</span>
  {{else}}
  <span class="avatar-text">Add Avatar</span>
  {{/if}}
  {{file-upload url=url
    preview=preview
    previewImage='previewImage'
    accepts=accepts
    onFileUploadAdd='onFileUploadAdd'
    onFileUploadSuccess='onFileUploadSuccess'
    onFail=onFail
    acceptFileTypes=acceptFileTypes
    allowSize=allowSize
    upload=upload
    error = 'error'
    tabindex='-1'}}
  </span>
  </a>
  {{#if imageIsThere}}
  <div  {{action 'clearImage'}} style="display:inline">
  <span class="input-container remove">Remove</span>
  </div>
  {{/if}}
  </div>



